---
import type { HaloLinks } from "../utils/haloType";
import Box from "../layouts/Box.astro";
import Link from "./Link.astro";
import { formatDateTillDay } from "../utils/date";
import { getCacheUpdateTime } from "../utils/cache";
import H2Title from "./H2Title.astro";
import { Icon404 } from "../icons";

interface Props {
  links: HaloLinks;
}

const { links } = Astro.props;

links.items.sort(() => Math.random() - 0.5);
const linksUpdateTime = getCacheUpdateTime("links");
---

<H2Title timestamp={linksUpdateTime} title="友情链接" />
<div class="space-y-2">
  {
    links.items.map((item) => (
      <Box>
        <div class="flex text-base relative">
          <p class="absolute right-1 text-sm text-gray-500 select-none">
            {formatDateTillDay(item.metadata.creationTimestamp)}
          </p>
          <img
            alt={item.spec.displayName}
            class="rounded-full mr-3 size-14 hover:rotate-360 hover:scale-150 duration-500 transform-gpu"
            loading="lazy"
            onerror={`this.src = "${Icon404.src}"`}
            src={item.spec.logo}
          />
          <div class="">
            <Link href={item.spec.url} name={item.spec.displayName} />
            <p class="text-gray-500">{item.spec.description || "暂无简介"}</p>
          </div>
        </div>
      </Box>
    ))
  }
</div>
