---
import type { HaloPosts } from "../utils/haloType";
import Box from "../layouts/Box.astro";
import { formatDateTillHour } from "../utils/date";
import { getCacheUpdateTime } from "../utils/cache";
import H2Title from "./H2Title.astro";
import urlJoin from "url-join";
import { halo } from "../utils/halo";
import { Link, Image } from "../icons";

interface Props {
  posts: HaloPosts;
}

const { posts } = Astro.props;

const postsUpdateTime = getCacheUpdateTime("posts");
---

<div>
  <H2Title timestamp={postsUpdateTime} title="文章" />
  <div class="mt-2 space-y-2">
    {
      posts.items
        .filter((item) => {
          return item.post?.kind === "Post" && item.post.spec.publish;
        })
        .slice(0, 5)
        .map((item) => (
          <Box>
            <div class="relative">
              <p class="absolute right-1 text-sm text-gray-500 select-none">
                {formatDateTillHour(item.post.spec.publishTime)}
              </p>

              <p class="flex items-center text-base hover:text-sky-700">
                <a class="flex items-center" href={urlJoin(halo.url, item.post.status.permalink)} target="_blank">
                  <span class="mr-2 block max-w-40 truncate sm:max-w-none">{item.post.spec.title}</span>
                  <Image alt={`前往${item.post.spec.title}`} src={Link} />
                </a>
              </p>
              <div class="mt-2 pl-2">
                {!item.stats || !(item.stats.visit > 0 || item.stats.approvedComment > 0) ? null : (
                  <div class="flex space-x-3 text-xs">
                    {!item.stats.visit ? null : (
                      <div class="flex">
                        <span class="w-10 select-none">阅读:</span>
                        <span class="blo text-gray-500">{item.stats.visit}</span>
                      </div>
                    )}
                    {!item.stats.approvedComment ? null : (
                      <div class="flex">
                        <span class="w-10 select-none">评论:</span>
                        <span class="text-gray-500">{item.stats.approvedComment}</span>
                      </div>
                    )}
                  </div>
                )}
                {item.categories.length > 0 ? (
                  <div class="mt-2 flex space-x-0.5 text-xs">
                    <span class="w-10 select-none">分类:</span>
                    <div class="with-comma">
                      {item.categories.map((category) => (
                        <a
                          class="with-comma text-gray-500 hover:underline"
                          href={urlJoin(halo.url, "categories", category.spec.slug)}
                        >
                          {category.spec.displayName}
                        </a>
                      ))}
                    </div>
                  </div>
                ) : null}
                {item.tags.length < 1 ? null : (
                  <div class="mt-2 flex space-x-0.5 text-xs">
                    <span class="w-10 select-none">标签:</span>
                    <div class="with-comma">
                      {item.tags.map((tag) => (
                        <a
                          class="with-comma text-gray-500 hover:underline"
                          href={urlJoin(halo.url, "tags", tag.spec.slug)}
                        >
                          {tag.spec.displayName}
                        </a>
                      ))}
                    </div>
                  </div>
                )}
              </div>
            </div>
          </Box>
        ))
    }
  </div>
</div>

<style>
  .with-comma > *:not(:last-child)::after {
    content: ",";
  }
</style>
